name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: Linux
    
    steps:
      - uses: actions/checkout@v2

      - name: Build docker
        run: docker build -t streameditbot_img .

      - name: Stop previous vesion
        run: docker stop streameditbot
      
      - name: Run docker
        run: docker run -d --name streameditbot --rm -e BOT_TOKEN=${{ secrets.BOT_TOKEN }} streameditbot_img:latest
